.header {
    background-color: #90a8ee;
    height: 100px;
    width: 100%;

    &__show-mobile{
        line-height: 100px;
        padding-right: 10px;
    }

    .logo {
        display: inline-block;
        height: 100%;
    }

    &__navigation {
        float: right;
        text-align: right;
        height: 100px;
        &__item {
            display: inline-block;
            height: 100%;
            a {
                line-height: 100px;
                height: 100%;
                display: block;
                padding-left: 10px;
                padding-right: 10px;
            }

            &:hover {
                background-color: royalblue;
                color: white;
            }
        }
    }
}
